opencv-python
face-recognition
numpy
fer
mediapipe
ultralytics
speechrecognition
pyttsx3
torch
transformers
soundfile
wikipedia
plyer
dateparser
geocoder
folium
word2number
requests
beautifulsoup4
python-docx
python-pptx
PyPDF2
